/*
 * Common styles
 */
main {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: stretch;

    margin: 24px auto auto auto;

    border: 1px solid #003366;
    background-color: #293955;

    width: 100%;
    max-width: 1280px;
    min-width: 800px;

    font-family: Consolas, 'Courier New';

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header {
    display: inline;
}

textarea {
    overflow: hidden;
}

/*
 * Users and roles
 */
.admin {
    display: none;
}

.user {
    display: none;
}

/*
 * Editor and Preview
 */
#editor > input, textarea {
    display: block;
}

#editor-area {
    width: 800px;
    height: 600px;
}

#editor input[name="short-title"] {
    width: 128px;
}

#editor input[name="full-title"] {
    width: 256px;
}

/*
 * Login styles
 */
#login-window {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -128px;
    width: 256px;
    height: 320px;
    background-color: white;
    border: solid 1px black;
    z-index: 1;
}

#login-window-title {
    background-color: #007ACC;
    color: white;
    padding: 3px;
}

#login-window form {
    margin-left: 29px;
    margin-top: 48px;
}

#login-buttons {
    margin-left: 29px;
    width: 196px;
    text-align: center;
}

#login-window input {
    display: block;
    width: 196px;
}

#login-window-close-button {
    display: inline-block;
    float: right;
    width: 16px;
    height: 16px;
    background-image: url(../images/login-close.png);
}

#login-window-close-button:hover {
    background-image: url(../images/login-close-active.png);
}

#login-info-block {
    color: red;
    font-size: small;
}

/*
 * Menu styles
 */
#menubar {
    background-color: #d6dbe9;
    padding: 5px;
    flex-basis: 100%;
    align-self: flex-start;
}

.menuitem {
    text-decoration: none;
    color: black;
}

#login-link {
    float: right;
}

/*
 * Explorer styles
 */
#explorer {
    flex-basis: 256px;
    border: solid 3px #293955;
    font-size: small;
    background-color: white;
    align-self: stretch;
    min-height: 720px;
}

#explorer-head {
    background-color: #4D6082;
    color: white;
    padding: 2px;
    height: 18px;
}

#explorer-menu {
    background-color: #CFD6E5;
    height: 24px;
}

#explorer-menu-refresh {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    left: 3px;
    background-image: url(../images/refresh.png);
}

#explorer-menu-refresh:hover {
    background-image: url(../images/refresh-active.png);
}

#explorer-content {
    background-color: white;
    padding-top: 5px;
}

.tree-container {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tree-node {
    position: relative;
    padding-left: 16px;
    cursor: default;
    padding: 0;
    margin: 0;
}

.tree-arrow {
    width: 16px;
    height: 16px;
    float: left;
}

.tree-name {
    min-height: 16px;
}

.tree-icon {
    display: inline-block;
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

#explorer-content li .tree-icon {
    background-image: url(../images/project.png)
}

#explorer-content li li[data-state="expanded"] .tree-icon {
    background-image: url(../images/folder-active.png);
}

#explorer-content li li[data-state="collapse"] .tree-icon {
    background-image: url(../images/folder.png);
}

#explorer-content li li li .tree-icon {
    background-image: url(../images/script.png) !important;
}

li[data-state=expanded] > ul {
    display: block;
}

li[data-state=collapse] > ul {
    display: none;
}

li[data-state=expanded] > div.tree-arrow {
    background-image: url(../images/expand.png);
}

li[data-state=collapse] > div.tree-arrow {
    background-image: url(../images/collapse.png);
}

.tree-focus {
    background-color: #3399FF;
    color: white;
}

.tree-focus ul {
    background-color: white;
    color: black;
}

li[data-focus=true] {
    background-color: #3399FF;
    color: white;
}

#explorer-content li li {
    padding-left: 16px;
}

#explorer-content ul ul ul {
    margin-left: -16px;
}

#explorer-content li li li {
    padding-left: 48px;
}

/*
 * Tab panel styles
 */
#tab-panel {
    position: relative;
    top: -20px;
    left: -28px;
    width: 100%;
    font-size: small;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab {
    display: inline-block;
    width: 119px;
    height: 16px;
    background-color: #4D6082;
    padding: 2px;
    cursor: default;
}

.tab:not(.tab-selected):hover {
    background-color: #5B7199;
}

.tab:not(.tab-selected):hover > div {
    background-image: url(../images/close-passive.png);
}

.tab:not(.tab-selected):hover > div:hover {
    background-image: url(../images/close-active-focus.png);
}

.tab-close {
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.tab-close:hover {
    background-image: url(../images/close-active-focus.png);
}

.tab-selected {
    background-color: #FFF29D;
    color: black;
}

.tab-selected > div {
    background-image: url(../images/close.png);
}

/*
 * Post styles
 */
#post {
    flex-grow: 1;
    border-left: solid 28px #E6E7E8;
    margin: 25px 3px 3px 3px;
    background-color: white;
    min-height: 720px;
}

#post-content {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;

    font-family: Consolas;

    position: relative;
    left: 16px;
    top: -8px;
}

.post-keyword {
    color: #3434FF;
}

.post-keyword ~ div {
    margin-left: 24px;
}

#post-comment-editor {
    width: 512px;
    height: 128px;
}

/*
 * Status bar styles
 */
#statusbar {
    background-color: #CA5100;
    color: white;
    padding: 2px;
    height: 24px;
    line-height: 24px;
    flex-basis: 100%;
}