/*
 * Common styles
 */
main {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: stretch;

    margin: 24px auto auto auto;

    border: 1px solid #003366;
    background-color: #293955;

    width: 100%;
    max-width: 1280px;
    min-width: 800px;

    font-family: Consolas, 'Courier New';

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header {
    display: inline;
}

/*
 * Menu styles
 */
#menubar {
    background-color: #d6dbe9;
    padding: 5px;
    flex-basis: 100%;
    align-self: flex-start;
}

.menuitem {
    text-decoration: none;
    color: black;
}

#login-link {
    float: right;
}

/*
 * Explorer styles
 */
#explorer {
    flex-basis: 256px;
    border: solid 3px #293955;
    font-size: small;
    background-color: white;
    align-self: stretch;
    min-height: 720px;
}

#explorer-head {
    background-color: #4D6082;
    color: white;
    padding: 2px;
    height: 18px;
}

#explorer-menu {
    background-color: #CFD6E5;
    height: 24px;
}

#explorer-content {
    background-color: white;
}

.tree-container {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tree-node {
    position: relative;
    padding-left: 16px;
    cursor: default;
}

.tree-arrow {
    width: 16px;
    height: 16px;
    float: left;
}

.tree-name {
    min-height: 16px;
}

.tree-icon {
    margin-left: 5px;
    margin-right: 5px;
}

li[data-state=expanded] ~ ul {
    display: block;
}

li[data-state=collapse] ~ ul {
    display: none;
}

li[data-state=expanded] > div.tree-arrow {
    background-image: url(../images/expand.png);
}

li[data-state=collapse] > div.tree-arrow {
    background-image: url(../images/collapse.png);
}

li[data-focus=true] {
    background-color: #3399FF;
    color: white;
}

/*
 * Tab panel styles
 */
#tab-panel {
    position: relative;
    top: -20px;
    left: -28px;
    width: 100%;
    font-size: small;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab {
    display: inline-block;
    width: 100px;
    height: 16px;
    background-color: #4D6082;
    padding: 2px;
    cursor: default;
}

.tab:not(.tab-selected):hover {
    background-color: #5B7199;
}

.tab:not(.tab-selected):hover > div {
    background-image: url(../images/close-passive.png);
}

.tab:not(.tab-selected):hover > div:hover {
    background-image: url(../images/close-active-focus.png);
}

.tab-close {
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.tab-close:hover {
    background-image: url(../images/close-active-focus.png);
}

.tab-selected {
    background-color: #FFF29D;
    color: black;
}

.tab-selected > div {
    background-image: url(../images/close.png);
}

/*
 * Post styles
 */
#post {
    flex-grow: 1;
    border-left: solid 28px #E6E7E8;
    margin: 25px 3px 3px 3px;
    background-color: white;
    min-height: 720px;
}

#post-content {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;

    font-family: Consolas;

    position: relative;
    left: 16px;
    top: -8px;
}

.post-keyword {
    color: #3434FF;
}

.post-keyword ~ div {
    margin-left: 24px;
}

/*
 * Status bar styles
 */
#statusbar {
    background-color: #CA5100;
    color: white;
    padding: 2px;
    height: 24px;
    line-height: 24px;
    flex-basis: 100%;
}