@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link href="Content/Styles/style.css" rel="stylesheet" />
    <script src="Content/Scripts/jquery-2.1.0.js"></script>
    <script src="Content/Scripts/script.js"></script>
    <script src="https://apis.google.com/js/client:plusone.js"></script>
</head>
<body>
    <main>
        <nav id="menubar">
            <a href="#" class="menuitem">BLOG</a>
            <a href="#" class="menuitem">ABOUT</a>
            <a href="#" id="login-link" class="menuitem">LOGIN</a>
        </nav>
        <section id="explorer">
            <div id="explorer-head">Blog Explorer</div>
            <div id="explorer-menu"></div>
            <nav id="explorer-content"></nav>
        </section>
        <section id="post">
            <ul id="tab-panel"></ul>
            <article id="post-content"></article>
        </section>
        <section id="statusbar">
            STATUS status
        </section>
    </main>
</body>
</html>
