@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link href="Content/Styles/style.css" rel="stylesheet" />
    <script src="Content/Scripts/jquery-2.1.0.js"></script>
    <script src="Content/Scripts/script.js"></script>
</head>
<body>
    <div class="window">
        <nav class="menubar">
            <a href="#" class="menuitem">BLOG</a>
            <a href="#" class="menuitem">ABOUT</a>
        </nav>
        <section class="explorer">
            <div class="explorer-head">Blog Explorer</div>
            <div class="explorer-menu">refresh collapse home</div>
            <nav class="explorer-content">
            </nav>
        </section>
        <section class="post">
            <pre>
    formated text hereg
gh
gf
hfg
hfg
h
fgh
g
hgf
h
gf
gfh
fg
hfg
h
gfh
gfh
gf
fg
h
gfh
fg
hgf
gf
h
gf
f
fg
gfh
fh
fg
hgf
h
gf

h
gfh
g
fg
hfg
gf
    </pre>
        </section>
        <section class="statusbar">
            STATUS status
        </section>
    </div>
</body>
</html>
