<ul class="tree-container">
    <li class="tree-node" data-state="expanded">
        <div class="tree-arrow"></div>
        <div class="tree-name">
            <div class="tree-icon"></div>
            <span>{{name}}</span>
        </div>
        {{#child}}
        <ul class="tree-container">
            <li class="tree-node" data-state="expanded">
                <div class="tree-arrow"></div>
                <div class="tree-name">
                    <div class="tree-icon"></div>
                    <span>{{name}}</span>
                </div>
                {{#child}}
                <ul class="tree-container">
                    <li class="tree-node" data-state="expanded" data-postid="{{id}}">
                        <div class="tree-name">
                            <div class="tree-icon"></div>
                            <span>{{name}}</span>
                        </div>
                    </li>
                </ul>
                {{/child}}
            </li>
        </ul>
        {{/child}}
    </li>
</ul>